.header {
    display: flex;
    background-color: rgba(0, 17, 255, 0.781);
    color: white;
    font-size: 20px;
    font-weight:700px ;
    align-items: center;
    height: 70px;
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px;

}
  .Hel{
    font-size: 35px;

  }

  ul {
    list-style-type: none;
    margin-left: 70px;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  